@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Geist", sans-serif;
}

.heading-custom-color {
  color: #1f2937;
}

.btn-custom {
  background-color: #244d3f;
  color: white;
}
.badge-custom {
  background-color: #244d3f;
  color: white;
}

.shadow-custom {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
